body{
    background-image: url('/assets/bg.png'); 
    font-family: 'Poppins' sans-serif;
}

a{
    text-decoration: none;
}
.heading h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: rgb(26, 235, 154);
}


.logo img{
    height: 10vh;
    width: 10vw;
}
 nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 8vh;
     text-transform: capitalize;
     border-bottom: solid;
     /*background-color: #5d4954;*/
     font-family: 'Poppins', sans-serif;
 }
 .logo{
     color: white;
 }
 .nav-links{
     display: flex;
     width: 40%;
     justify-content: space-around;
 }
 .nav-links li{
     list-style: none;
 }
 .nav-links a{
     color: #0c0b0b;
     text-decoration: none;
     letter-spacing: 3px;
     font-weight: bold;
     font-size: 14px;
 }
 .burger {
     display: none;
     cursor: pointer;
 }

.burger div{
    width: 25px;
    height: 3px;
    background-color: #1f0505;
    margin: 5px;
}

@media screen and (max-width:601px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:430px){
  
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 10vh;
        color: #0c0b0b;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 1;
        
    }
    .burger{
        display: block;
    }
}

@keyframes navLinksfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
    opacity: 0;

}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}




.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.single-box{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #eaf8f5;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: 0.3s;
}
.img-text img{
    width: 300px;
    height: 123px;
}

.img-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.header-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

.single-box:hover{
    background-color: deeppink;
    color: aliceblue;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.btn a{
    color: #fff;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: rgb(13, 148, 148);
    width: 8vw;
    height: 30px;
    color: aliceblue;
    font-size: 16px;
}
.btn a:hover{
    color: khaki;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(13, 2, 43);
    color: white;
    text-align: center;
  }
  /* contact page  ==============================

  .contactbox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: #eaf8f5;
      height: 82vh;
      width: 100%;
      flex-basis: 4rem;
      

  }
   .alert {
       text-align: center;
       padding: 10px;
       background-color: #79c879;
       color: #ffffff;
       margin-bottom: 10px;
       display: none;
   }

  .contactbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
  }
  .contactbox input{
    width: 100%;
    margin-bottom: 20PX;
  }
  .contactbox textarea{
    
    margin-bottom: 20PX;
    background: transparent;
    outline: none;
    border: solid;
    width: 90%;
    height: 60px;
    color: rgb(9, 85, 85);
    font-size: 17px;
    border: none;
    border-bottom: solid;
  }
  .head {
      width: 90%;
  }
  .contactbox input[type="text"]{
    background: transparent;
    outline: none;
    border: solid;
    width: 90%;
    height: 30px;
    color: rgb(9, 85, 85);
    font-size: 17px;
    border: none;
    border-bottom: solid;
  }

  .contactbox input[type="text"]:hover{
        border-color: rgb(0, 255, 0);
  }


  .message input[type="text"]{
    height: 90px;
  }
 .contactbox input[type="submit"]{
    border: none;
    outline: none;
    width: 90%;
    height: 40px;
    background-color: rgb(13, 148, 148);
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.contactbox input[type="submit"]:hover
{
    cursor: pointer;
    background-color: rgb(29, 185, 24);
    color: #000;
    
}*/

.contactbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #eaf8f5;
    height: 78vh;
    width: 100%;
    flex-basis: 4rem;
    bottom: 0;
    

}
.alert {
    text-align: center;
    padding: 10px;
    background-color: #79c879;
    color: #ffffff;
    margin-bottom: 10px;
    display: none;
}

.contactbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
}
.contactbox input{
  width: 100%;
  margin-bottom: 20PX;
}
.contactbox input[type="text"]{
  background: transparent;
  outline: none;
  border: none;
  border-bottom: solid;
  width: 100%;
  height: 30px;
  color: rgb(9, 85, 85);
  font-size: 17px;
}
.contactbox textarea{
    width: 100%;
    margin-bottom: 20PX;
  }
  .contactbox textarea{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: solid;
    width: 100%;
    height: 50px;
    color: rgb(9, 85, 85);
    font-size: 17px;
  }

.contactbox input[type="text"]:hover{
    border-color: rgb(0, 255, 0);
}

.contactbox textarea:hover{
    border-color: rgb(0, 255, 0);
}

.contactbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background-color: rgb(13, 148, 148);
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
}
.contactbox input[type="submit"]:hover
{
  cursor: pointer;
  background-color: rgb(29, 185, 24);
  color: #000;
  
}





/*login ===============================================*/

.loginbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #eaf8f5;
    height: 78vh;
    width: 100%;
    flex-basis: 4rem;
    bottom: 0;
    

}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20PX;
}
.loginbox input[type="text"], input[type="password"]{
  background: transparent;
  outline: none;
  border: none;
  border-bottom: solid;
  width: 100%;
  height: 30px;
  color: rgb(9, 85, 85);
  font-size: 17px;
}
.loginbox input[type="text"]:hover{
    border-color: rgb(0, 255, 0);
}
.loginbox input[type="password"]:hover{
    border-color: rgb(0, 255, 0);
}
.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background-color: rgb(13, 148, 148);
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background-color: rgb(29, 185, 24);
  color: #000;
  
}
/*signup ===============================================*/
.signinbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #eaf8f5;
    height: 78vh;
    width: 100%;
    flex-basis: 4rem;
    

}
.signinbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
}
.signinbox input{
  width: 100%;
  margin-bottom: 20PX;
}
.signinbox input[type="text"], input[type="password"]{
  background: transparent;
  outline: none;
  border: none;
  border-bottom: solid;
  width: 100%;
  height: 30px;
  color: rgb(9, 85, 85);
  font-size: 17px;
}

.signinbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background-color: rgb(13, 148, 148);
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
}
.signinbox input[type="submit"]:hover
{
  cursor: pointer;
  background-color: rgb(29, 185, 24);
  color: #000;
  
}
/*Blog Post=======================================================================*/

.postContainer {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 margin-left: 10%;
 margin-right: 10%;
 background-color: #eaf8f5;
}
.postContainer p{
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.image {
    margin-top: 40px;
}
.image img{
    width: 620px;
}

.formP {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 25%;
    margin-right: 25%;

}

.formP input{
    height: 40px;
}


 .comm {
    margin-top: 30px;
 }

.formP h1{
    margin-left: 6%;
    margin-right: 20%;
    margin-bottom: 2%;
}
