body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-image: url('/assets/bg.png'); 
    background-position: center;
}

.wrapper{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     height: 100vh;
     margin: 2em  5em;
}
 a{
    text-decoration: none;
}
nav {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > div{
    flex-basis: 5em;
    font-size: 1.3rem;
    font-weight: 200;
    font-family: sans-serif;
    text-decoration: solid;
    text-transform: capitalize;
    color: 8E8282;
    
}
/*.logo{
    width:  1vw;
    height: 1vh;
    top: 0;
    left: 0;
    padding: 15px;


}*/
nav div:first-child{
    flex-basis: 32em;
}

.bdtext p{
    align-items: center;
    margin-left: 4em;
    margin-right: 3em;
    margin-bottom: 0.5em;
    color: rgb(59, 163, 17);
    font-size: 1.5rem;
    word-spacing: 2;
    font-family: sans-serif;
    text-align: center;
}
.bdtext h1{
    align-items: center;
    margin-left: 4em;
    margin-right: 3em;
    margin-bottom: 0.5em;
    color: 8E8282;
    font-size: 3rem;
    word-spacing: 2;
    font-family: sans-serif;
    text-align: center;
}


.container{
    height: 59vh;
    display: flex;
}

.image img{
  border-radius: 50%;
}
.text{
    margin-left: 8em;
    padding-top: 7rem;
    font-size: 2.4rem;
    font-family: sans-serif;
}
.text a{
    background-color: aqua;
    font-size: 50px;
    color: #fff;
}

/*==========================================================*/

.loginbox{
    width: 30vw;
    height: 50vh;
    background-color: #fff;
    color: rgb(12, 12, 12);
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    box-sizing: border-box;
    padding: 1px 30px;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 6.7%;
}

.avatar{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 40px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20PX;
}
.loginbox input[type="text"],  input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(16, 110, 87);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(9, 85, 85);
    font-size: 20px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(13, 148, 148);
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background-color: rgb(29, 185, 24);
    color: #000;
    
}
.loginbox a{
    text-decoration: none;
    line-height: 20px;
    font-size: 20px;
    color: rgb(30, 12, 192);
}
.loginbox a:hover{
    color: rgb(20, 8, 18);
}

/*========================================*/

.signinbox{
    width: 30vw;
    height: 85vh;
    background-color: #fff;
    color: rgb(12, 12, 12);
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    box-sizing: border-box;
    padding: 1px 30px;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 6.7%;
    
}

.signinbox h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 40px;
}

.signinbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
}

.signinbox input{
    width: 100%;
    margin-bottom: 20PX;
}
.signinbox input[type="text"],  input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(16, 110, 87);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(10, 3, 3);
    font-size: 20px;
}
.signinbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(13, 148, 148);
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.signinbox input[type="submit"]:hover
{
    cursor: pointer;
    background-color: rgb(29, 185, 24);
    color: #000;
    
}

.signinbox a{
    text-decoration: none;
    line-height: 20px;
    font-size: 20px;
    color: rgb(30, 12, 192);
}
.signinbox a:hover{
    color: rgb(20, 8, 18);
}








